@font-face {
    font-family: "DallasPs";
    src: url("../fonts/DallasPS-SansReg.woff2") format("woff2"),
}

@font-face {
    font-family: "UniversLTPro";
    src: url("../fonts/UniversLTPro-55Roman.woff2") format("woff2"),
}